<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSDesktopFolderUsageDescription</key>
  <string>Stella needs access to repositories in this folder to read and update Git working files.</string>
  <key>NSDocumentsFolderUsageDescription</key>
  <string>Stella needs access to repositories in this folder to read and update Git working files.</string>
  <key>NSDownloadsFolderUsageDescription</key>
  <string>Stella needs access to repositories in this folder to read and update Git working files.</string>
  <key>NSFileProviderDomainUsageDescription</key>
  <string>Stella needs access to repositories in this folder to read and update Git working files.</string>
  <key>NSNetworkVolumesUsageDescription</key>
  <string>Stella needs access to repositories on this network volume to read and update Git working files.</string>
  <key>NSRemovableVolumesUsageDescription</key>
  <string>Stella needs access to repositories on this removable volume to read and update Git working files.</string>
</dict>
</plist>
